.terminal {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  white-space: pre-wrap;
  border-radius: 10px;
  min-width: 80%;
  min-height: 80%;
  width: 1100px;
  height: 400px; 
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
  margin: 20px auto; 
}
